<template>
  <div class="lessons card">

    <div class="card-header">
      <label for="series">Choose a series: </label>
      <select v-model="selectedSeries" class="custom-select">
        <option v-for="series in seriesList" :value="series.code">
          {{ series.name }}
        </option>
      </select>
    </div>

    <div class="card-block">
      <table class="lessons-table table table-striped table-bordered table-hover"
          v-bind:class="{ busy: busy }"
          v-infinite-scroll="loadMore" infinite-scroll-disabled="busy" infinite-scroll-distance="10">
        <thead class="thead-inverse">
          <tr><th>Series</th><th>Index</th><th>Title</th><th>Date</th><th>Link</th>
        </thead>
        <tbody v-if="">
          <tr v-for="lesson in lessons.items" :key="lesson.range">
            <td>{{lesson.series}}</td>
            <td>{{lesson.seriesIndex}}</td>
            <td>{{lesson.title}}</td>
            <td>{{lesson.recordedAt | dateFormat}}</td>
            <td>
              <div class="btn-group" role="group" aria-label="Actions">
              <a class="btn btn-primary" :href="lesson.audioFile | bucket" :title="lesson.audioFile | name" target="_blank">
                <i class="fa fa-headphones"></i>
              </a>
              <a class="btn btn-info" :href="lesson.audioFile | bucket" :title="lesson.audioFile | name" download>
                <i class="fa fa-download"></i>
              </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="alert alert-info text-center" v-if="busy === 0 && !lessons.items.length === 0">
        No items found.
      </div>
      <div class="alert alert-info text-center" v-else-if="busy === 0 && !lessons.nextCursor">
        End of list.
      </div>
    </div>

  </div>
</template>

<script>
import gql from 'graphql-tag';
import moment from 'moment';

export default {
  name: 'lessons',
  apollo: {
    lessons() {
      return {
        query: gql`query LessonsQuery($series: String!, $cursor: String) {
          lessons(series: $series, cursor: $cursor) {
            nextCursor
            items {
              title
              recordedAt
              series
              seriesIndex
              audioFile
            }
          }
        }`,
        variables() {
          return {
            series: this.selectedSeries,
            cursor: null,
          };
        },
        loadingKey: 'busy',
      };
    },
  },
  data() {
    return {
      selectedSeries: 'JER',
      lessons: { items: [], nextCursor: undefined },
      seriesList: [
        { code: 'ACTS', name: 'Acts' },
        { code: '1 COR', name: '1st Corinthians' },
        { code: '2 COR', name: '2nd Corinthians' },
        { code: 'GAL', name: 'Galatians' },
        { code: 'JER', name: 'Jeremiah' },
      ],
      busy: 0,
    };
  },
  methods: {
    loadMore() {
      if (!this.lessons.nextCursor) {
        return;
      }

      this.busy += 1;
      const cursor = this.lessons.nextCursor;
      const series = this.selectedSeries;
      this.$apollo.queries.lessons.fetchMore({
        variables: { cursor, series },
        updateQuery: (previousResult, { fetchMoreResult }) => {
          const newItems = fetchMoreResult.data.lessons.items;
          this.busy -= 1;
          return { lessons: {
            nextCursor: fetchMoreResult.data.lessons.nextCursor,
            items: [...previousResult.lessons.items, ...newItems],
          } };
        },
      });
    },
  },
  computed: {
    empty() {
      return this.lessons.items.length === 0 && this.busy === 0;
    },
  },
  filters: {
    dateFormat(value) {
      return moment(value).calendar();
    },
    name(value) {
      return value ? value.split(/(\/|\\|:)/).pop() : '';
    },
    bucket(value) {
      return `https://s3.amazonaws.com/austinbiblechurch/${value}`;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

table.busy {
  position: relative;
  &:after, &:before {
    content: '';
    display: block;
    background: repeating-linear-gradient(45deg, #888, #888 10px, #ddd 10px, #ddd 20px);
    background-position: 0 0;
    height: 10px;
    width: 100%;
    bottom: 0;
    position: absolute;
    animation: animatedBorder 200ms infinite;
    animation-timing-function: linear;
  }
  &:before {
    top: 0;
    bottom: auto;
  }
}
@keyframes animatedBorder {
  to {
    background-position: 29px 0;
  }
}

td {
  vertical-align: middle;
}
.fa {
  font-size: 140%;
}
</style>
