<template>
  <div id="app">
    <lessons></lessons>
  </div>
</template>

<script>
import Lessons from './components/Lessons';

export default {
  name: 'app',
  components: {
    Lessons,
  },
};
</script>

<style>
#app {
}
</style>
